absl-py==0.11.0
appdirs==1.4.4
audioread==2.1.9
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
Cython==0.29.21
decorator==4.4.2
google-auth==1.23.0
google-auth-oauthlib==0.4.2
grpcio==1.34.0
idna==2.10
importlib-metadata==3.1.1
joblib==0.17.0
librosa==0.8.0
llvmlite==0.35.0
Markdown==3.3.3
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numba==0.52.0
numpy @ file:///opt/concourse/worker/volumes/live/3f9886a9-9d2f-4d0a-7e31-acf5536b90f1/volume/numpy_and_numpy_base_1596234665264/work
oauthlib==3.1.0
olefile==0.46
packaging==20.4
Pillow @ file:///opt/concourse/worker/volumes/live/dda2ed08-74a0-47b1-4b92-3e662849d96e/volume/pillow_1594307366244/work
pooch==1.2.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
pyworld==0.2.12
requests==2.25.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
SoundFile==0.10.3.post1
tdqm==0.0.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
threadpoolctl==2.1.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.54.1
urllib3==1.26.2
Werkzeug==1.0.1
zipp==3.4.0
